# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Unused components (kept locally but not tracked)
dist
hero
src/components/Description.tsx
src/components/FireParticles.tsx
src/components/Hero.tsx
src/components/Hero221.tsx
src/components/Hero222.tsx
src/components/TimeLineSection.tsx
src/components/ui/wrap-button.tsx
